
.pic {
    width: 450px;
    height: 200px;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

li {
    color: darkgrey;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px; 
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    font-size: 24px;
}
.card1 {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: space-between;
}

.header,
.card1 {
    background-color: #1f2937;
    padding-left: 250px;
    padding-right: 250px;

}

.a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.b {
    display: flex;
    width: 450px;
    align-items: center;
    justify-content: center; 
}

.title {
    font-size: 44px;
    font-weight: 900;
    color: white;
}

.writing {
    font-size: 18px;
    color: darkgrey;
}

.button {
    width: 110px;
    height: 35px;
    margin-top: 8px;
    color: white;
    background-color: rgb(117, 195, 221);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    border: white solid 1px;
}

.card2 {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-right: 250px;
}

.card2_title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #2e3c51;
    padding-top: 32px;
    padding-bottom: 32px;
}

.grid {
    display: flex;
    padding-bottom: 52px;
    justify-content: space-around;
}

.item { 
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}
.photo {
    width: 150px;
    border: 4px solid rgb(50, 84, 142);
    border-radius: 10px;
    display: flex;
}

.phototext {
    display: flex;
    flex-wrap: wrap;
    color: rgb(92, 96, 104);
}

.card3 {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-right: 250px;
    background-color: #e5e7eb;
    color: #1f2937;
    padding-top: 80px;
    padding-bottom: 80px;
    
}

.quote {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 32px;
    text-align: center;
    
}

.citation {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: bold;
}

.card4 {
    margin: 100px 250px;
    background-color: #3882f6;
    padding: 24px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.x_title {
    font-weight: bold;
}

.x {
    color: white;
    font-size: 16px;
}

.ybutton {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: white solid 2px;
    padding: 8px 32px;
}

.footer {
    background-color: #1f2937;
    color: darkgray;
    display: flex;
    justify-content: center;
    padding: 24px; 

}
